<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:insert="~{fragments/settings.html :: settings-fragment}" />
		<title>Products</title>
	</head>
	<body>
		<div>
			<th:block th:insert="~{fragments/header.html :: header-fragment}" />
			<table>
				<tr>
					<th>Product name</th>
					<th>Description</th>
					<th>Price</th>
					<th>Quantity</th>
					<th>Category</th>
					<th></th>
				</tr>

				<form th:action="@{/products-form}" method="post">
					<td>
						<input
							type="text"
							name="name"
							placeholder="Product name"
							required
						/>
					</td>
					<td>
						<input
							type="text"
							name="description"
							placeholder="Description"
							required
						/>
					</td>
					<td>
						<input
							type="number"
							name="price"
							step="0.01"
							min="0"
							placeholder="Price"
							required
						/>
					</td>
					<td>
						<input
							type="number"
							min="0"
							name="quantity"
							placeholder="Quantity"
							required
						/>
					</td>
					<td>
						<select name="category" id="category">
							<option
								th:each=" category : ${categories}"
								th:value="${category.id}"
								th:text="${category.name}"
							></option>
						</select>
					</td>
					<td>
						<input type="submit" value="Add" />
					</td>
				</form>
			</table>
			<table>
				<tr>
					<th>Product name</th>
					<th>Description</th>
					<th>Price</th>
					<th>Quantity</th>
					<th>Rating</th>
					<th>Category</th>
					<th>Created at</th>
					<th>Updated at</th>
					<th></th>
				</tr>
				<tr th:each="product:${productList}">
					<form th:action="@{/product-update-redirect-form}" method="post">
						<input
							type="hidden"
							name="productId"
							id="id"
							th:value="${product.id}"
						/>
						<td><p th:text="${product.name}"></p></td>
						<td>
							<p th:text="${product.description}"></p>
						</td>
						<td>
							<p th:text="${product.price}"></p>
						</td>
						<td>
							<p th:text="${product.quantity}"></p>
						</td>
						<td><p th:text="${product.rating}"></p></td>
						<td>
							<p
								th:text="${product.category != null} ? ${product.category.name} : '—'"
							></p>
						</td>
						<td>
							<p
								th:text="${#temporals.format(product.createdAt, 'dd.MM.yyyy HH:mm')}"
							></p>
						</td>
						<td>
							<p
								th:text="${#temporals.format(product.updatedAt, 'dd.MM.yyyy HH:mm')}"
							></p>
						</td>
						<td><input type="submit" value="Update redirect" /></td>
					</form>
				</tr>
			</table>
		</div>
	</body>
</html>
